@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-primary: "Bellefair", serif;
  --ff-secondary: "Barlow", sans-serif;
}

#activePlanet::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
}

#activeCrew {
  opacity: 1;
}

#activeTech {
  background-color: white;
  color: black;
}

#home {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: var(--ff-secondary);
}

h1 {
  font-family: var(--ff-primary);
}

p {
  font-family: var(--ff-secondary);
  font-size: 16px;
}

#menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

#destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav__btn.active {
  border-bottom: 1px solid red;
}
