@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-primary: "Bellefair", serif;
  --ff-secondary: "Barlow", sans-serif;
}

#activePlanet::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
}

#activeCrew {
  opacity: 1;
}

#activeTech {
  background-color: white;
  color: black;
}

#home {
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: var(--ff-secondary);
}

h1 {
  font-family: var(--ff-primary);
}

p {
  font-family: var(--ff-secondary);
  font-size: 16px;
}

#menu {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

#destination {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#crew {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#technology {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav__btn.active {
  border-bottom: 1px solid red;
}

.crew-detail,
.tech-detail,
.planet-detail {
  opacity: 0;
  animation: fade-in 1000ms forwards;
}

.crew-image,
.tech-image,
.planet-image {
  opacity: 0;
  animation: fade-in 500ms forwards 1s;
}

.menu-item {
  position: relative;
}
.menu-item::after {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background-color: white;
  transition: all 500ms;
}

.menu-item:hover::after {
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 640px) {
  #home {
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #destination {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #crew {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #technology {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 1000px) {
  #home {
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #destination {
    background-image: url("/assets/destination/background-destination-desktop.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #crew {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #technology {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
